language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "nightly"

# command to install dependencies
install: "pip install -r tests/test_requirements.txt"

# Run py.test and also a separate local queue test
script:
  - tests/run_tests.py -l
