# Requirements for testing Fyrd
Pyro4>=4.70
codacy-coverage>=1.3.3
codeclimate-test-reporter>=0.2.0
coverage>=3.7.1
dill>=0.2.5
psutil>=5.2
pytest-cov>=2.4.0
pytest>=3.0.3
six>=1.11.0
sqlalchemy>=1.2.0
tabulate>=0.8.2
tqdm>=4.19.0
