{% if page.version %}
  {% assign version = page.version %}
  {% assign dversion = page.version %}
{% else %}
  {% assign version = 'master' %}
  {% assign dversion = 'latest' %}
{% endif %}
<p class="badges">
  <a href="https://fyrd.readthedocs.io/en/{{ dversion }}"><img src="https://readthedocs.org/projects/fyrd/badge/?version={{ dversion }}" alt="image"></a>
  <a href="https://buildkite.com/mikedacre/fyrd-cluster-tests"><img src="https://badge.buildkite.com/b6659b460caf5205919916c4e9d212c4e04d4301fa55a51180.svg?branch={{ version }}" alt="image"></a>
  <a href="https://travis-ci.org/MikeDacre/python-cluster"><img src="https://travis-ci.org/MikeDacre/fyrd.svg?branch={{ version }}" alt="image"></a>
  <a href="https://www.codacy.com/app/mike-dacre/fyrd?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=MikeDacre/fyrd&amp;utm_campaign=Badge_Grade"><img src="https://api.codacy.com/project/badge/Grade/c163cff81a1941a18b2c5455901695a3" alt="image"></a>
  <img src="https://img.shields.io/badge/python%20versions-2.7%203.4%203.5%203.6-brightgreen.svg" alt="image">
  <a href="https://requires.io/github/MikeDacre/fyrd/requirements/?branch={{ version }}"><img src="https://requires.io/github/MikeDacre/fyrd/requirements.svg?branch={{ version }}" alt="Fyrd Requirements Status"></a>
</p>
