<head>
  <meta charset="UTF-8">

  {% if page.title == 'Fyrd' %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ site.title }} — {{ page.title }}</title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="Fyrd Python Cluster Manager: {{ page.description }}" />
  {% else %}
    <meta name="description" content="Fyrd Python Cluster Manager: {{ site.description }}">
  {% endif %}
  <meta name="keywords" content="python cluster, python torque, python slurm, python multiprocessing, torque, slurm">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.github.url }}/sitemap.xml" />
  <link rel="author" href="https://www.michaeldacre.com"/>
  <link rel="publisher" href="https://www.michaeldacre.com"/>

  <link rel="stylesheet" href="{{ site.github.url }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.github.url }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/custom.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/syntax/{{ site.csshighlight }}.css">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/assets/logo/favicon/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/logo/favicon/favicon-32x32.png?v=1" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/logo/favicon/favicon-194x194.png?v=1" sizes="194x194">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/logo/favicon/android-chrome-192x192.png?v=1" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/logo/favicon/favicon-16x16.png?v=1" sizes="16x16">
  <link rel="manifest" href="{{ site.github.url }}/assets/logo/favicon/manifest.json?v=1">
  <link rel="mask-icon" href="{{ site.github.url }}/assets/logo/favicon/safari-pinned-tab.svg?v=1" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/logo/favicon/favicon.ico?v=1">
  <meta name="msapplication-config" content="{{ site.github.url }}/assets/logo/favicon/browserconfig.xml?v=1">
  <meta name="theme-color" content="#ffffff">

  {% if page.id %}
    {% include metadata/news.html %}
  {% elsif page.title == 'Fyrd' %}
    {% include metadata/main.html %}
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <!-- Sticky Menu -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#menu").sticky({topSpacing:10});
    });
  </script>

  <!-- Scroll to top -->
  <script src="https://cdn.jsdelivr.net/jquery.scrollup/2.4.0/jquery.scrollUp.min.js"></script>
  <script>
    $(function () {
      $.scrollUp({
        scrollName: 'scrollUp',      // Element ID
        scrollDistance: 600,         // Distance from top/bottom before showing element (px)
        scrollFrom: 'top',           // 'top' or 'bottom'
        scrollSpeed: 300,            // Speed back to top (ms)
        easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
        animation: 'fade',           // Fade, slide, none
        animationSpeed: 200,         // Animation speed (ms)
        scrollTrigger: false,        // Set a custom triggering element. Can be an HTML string or jQuery object
        scrollTarget: false,         // Set a custom target element for scrolling to. Can be element or number
        scrollText: 'Scroll to top', // Text for element, can contain HTML
        scrollTitle: false,          // Set a custom <a> title if required.
        scrollImg: false,            // Set true to use image
        activeOverlay: false,        // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        zIndex: 2147483647           // Z-Index for the overlay
      });
    });
  </script>

  <!-- Menu Disappearing -->
  <script>
  function responsiveMenu() {
    var x = document.getElementById("menulist");
    if (x.className === "menulist") {
      x.className += " open";
    } else {
      x.className = "menulist";
    };
    var x = document.getElementById("header");
    if (x.className === "page-header") {
      x.className += " open";
    } else {
      x.className = "page-header";
    }
  }
  </script>

  <!-- Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1749595-6', 'auto');
    ga('send', 'pageview');

  </script>

</head>
