<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.github.url }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.github.url }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/custom.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/syntax/{{ site.csshighlight }}.css">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon }}/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" href="{{ site.favicon }}/favicon-32x32.png?v=1" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.favicon }}/favicon-194x194.png?v=1" sizes="194x194">
  <link rel="icon" type="image/png" href="{{ site.favicon }}/android-chrome-192x192.png?v=1" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.favicon }}/favicon-16x16.png?v=1" sizes="16x16">
  <link rel="manifest" href="{{ site.favicon }}/manifest.json?v=1">
  <link rel="mask-icon" href="{{ site.favicon }}/safari-pinned-tab.svg?v=1" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.favicon }}/favicon.ico?v=1">
  <meta name="msapplication-config" content="{{ site.favicon }}/browserconfig.xml?v=1">
  <meta name="theme-color" content="#ffffff">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1749595-6', 'auto');
    ga('send', 'pageview');

  </script>
</head>
